html, body {
  height: 100%;
  overflow: hidden;
}

#inputHide {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
}

#unity-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#unity-container.unity-desktop {
  width: 100%;
  height: 100%;
}

#unity-container.unity-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
}

#unity-canvas {
  background: #000;
  margin: auto;
}

.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}

.unity-desktop #unity-canvas{
  width: 100%;
  height: 100%;
}

#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#unity-logo {
  width: 141px;
  height: 141px;
}

#unity-logo video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#unity-tips-text{
  width: 300px;
  position: absolute;
  color: white;
  text-align: center;
  z-index: 100;
  margin-top: 250px;
}

/* Стили для предупреждающего сообщения */
#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}
  
